# Data Science Tools and Ecosystem into the cell.

In this notebook , Data Science Tools and Ecosystem are summarized.

some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

# some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter            |
| Anaconda           |
| TensorFlow         |

### Below are a few example of evaluating arithmetic expression in python.
For example, let's evaluate the expression 5+3:
'''python
result = 5 + 3
print(result) # Output:8

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4)+5
print(result)

17

In [1]:
# Convert 200 minute to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

__Objectives:__
- List popular languages for Data Science.
- Explain basic data visualization techniques.
- Introduce machine learning algorithms.

## Author
   Bhaskar Chhimwal